html {
  box-sizing: border-box;
}
:root {
  --body-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --dackground-dark-color: #2f303a;
  --dackground-light-color: #f5f5f5;
  --dackground-grey-color: #f5f4fa;
  --logo-black-color: #000000;
  --background-button-active: #188ce8;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: inherit;
  fill: currentColor;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
body {
  color: var(--body-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  background-color: var(--white-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка index.html */

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}
.nav-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.nav-contact {
  gap: 50px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
  color: var(--secondary-text-color);
}
.contact-link {
  display: flex;
  text-align: center;
}
.icon-contact {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

/* Герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dackground-dark-color);
}
.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button {
  padding-bottom: 200px;
  min-width: 216px;
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button::first-letter {
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--background-button-active);
}

/* section наші переваги */
.our-advatages-container {
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.our-advantages-list {
  display: flex;
  margin: 0 auto;
}
.item-advantages:not(:last-child) {
  margin-right: 30px;
}
.item-advantages {
  width: 270px;
}
.icon-advantages-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--dackground-grey-color);
  border-radius: 4px;
}
.icon-advantages {
  margin: 25px 102px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-description {
  margin-top: 10px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-description::first-letter {
  text-transform: uppercase;
}

/* Секція чим ми займаємось */

.we-do-section {
  padding-top: 0;
}
.we-do-section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}
.we-do-section-title::first-letter {
  text-transform: uppercase;
}
.we-do-list {
  display: flex;
  gap: 30px;
}
.we-do-item {
  display: flex;
}
/*Наша команда  */

.team-title-container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.our-team-section {
  text-align: center;
  background-color: var(--dackground-grey-color);
}
.our-team-section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.our-team-section-title::first-letter {
  text-transform: uppercase;
}
.our-team-list {
  display: flex;
  gap: 30px;
}
.section-title-team {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}
.job-title {
  margin: 0 auto;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  color: var(--secondary-text-color);
}
.team-img {
  display: flex;
}
.job-title-uppercase {
  text-transform: uppercase;
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-icon-container {
  margin: auto;
  margin-top: 10px;
  width: 206px;
  height: 44px;
  display: flex;
}
.team-icon-item {
  margin-right: 10px;
}
.team-icon-item:last-child {
  margin-right: auto;
}
.team-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  cursor: pointer;
  color: var(--secondary-text-color);
}
.team-icon-link:hover,
.team-icon-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.client-icon-list {
  display: flex;
  margin-top: 50px;
}
.client-icon-item {
  width: 170px;
  height: 92px;
  display: flex;
  margin-right: 30px;
}
.client-icon-item:last-child {
  margin-right: auto;
}
.client-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--secondary-text-color);
}
.client-icon-link:focus,
.client-icon-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Подвал */

.footer-container {
  background-color: var(--dackground-dark-color);
  padding: 60px 0;
}
.footer-control-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-studio-white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-nav {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.footer-item {
  margin: 0 auto;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-icon-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-icon-container {
  margin: auto;
  width: 206px;
  height: 80px;
}
.footer-icon-list {
  display: flex;
  gap: 10px;
}
.footer-icon-item {
}
.footer-icon-item:last-child {
  margin-right: auto;
}
.footer-icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  border-radius: 50%;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}
.footer-nav-icon-container {
  margin: 0;
  padding: 0;
}

/* Начало портфолио */

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  background: var(--dackground-grey-color);
}
.button-portfolio:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-button-list {
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
}
/* Герой */

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
}
.portfolio-list-item > img {
  display: block;
}
.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  text-transform: capitalize;
  letter-spacing: 0.06em;
}
.portfolio-title-list {
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-img-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.small-symbols {
  text-transform: none;
}
.capital-symbols {
  text-transform: uppercase;
}

.portfolio-title-list::first-letter {
  text-transform: uppercase;
}
