html {
  box-sizing: border-box;
}
:root {
  --body-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --dackground-dark-color: #2f303a;
  --dackground-light-color: #f5f5f5;
  --dackground-grey-color: #f5f4fa;
  --logo-black-color: #000000;
  --background-button-active: #188ce8;
  --icon-grey-color: #afb1b8;
  --cubic-time: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: inherit;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
body {
  color: var(--body-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  background-color: var(--white-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка index.html */

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.link-nav-opacity {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-active {
  color: var(--accent-color);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-nav-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  display: flex;
}
.link-nav-opacity::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  display: flex;
  opacity: 0;
  transform: scaleX(0);
}
.link-nav-opacity:hover::after,
.link-nav-opacity:focus::after {
  opacity: 1;
  transform: scaleX(1);
  transition-property: opacity, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}
.nav-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.nav-contact {
  gap: 50px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
  color: var(--secondary-text-color);
}
.contact-link {
  align-items: center;
  display: flex;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-contact {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

/* Герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dackground-dark-color);
}
.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button-hero {
  min-width: 216px;
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:focus,
.button-hero:hover {
  background-color: var(--background-button-active);
}

/* section наші переваги */
.our-advatages-container {
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}
.our-advantages-list {
  display: flex;
  margin: 0 auto;
}
.item-advantages:not(:last-child) {
  margin-right: 30px;
}
.item-advantages {
  width: 270px;
}
.icon-advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--dackground-grey-color);
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-description {
  margin-top: 10px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-description::first-letter {
  text-transform: uppercase;
}

/* Секція чим ми займаємось */

.we-do-section {
  padding-top: 0;
}
.we-do-section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}
.we-do-section-title::first-letter {
  text-transform: uppercase;
}
.we-do-list {
  display: flex;
  gap: 30px;
}
.we-do-item {
  display: flex;
}
.we-do-thumb {
  position: relative;
}
.we-do-img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}
.text-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 70px;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}

/*Наша команда  */

.team-title-container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.our-team-section {
  text-align: center;
  background-color: var(--dackground-grey-color);
}
.our-team-section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}
.our-team-section-title::first-letter {
  text-transform: uppercase;
}
.our-team-list {
  display: flex;
  gap: 30px;
}
.section-title-team {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}
.job-title {
  margin: 0 auto;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  color: var(--secondary-text-color);
}
.team-img {
  display: flex;
}
.job-title-uppercase {
  text-transform: uppercase;
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--icon-grey-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/* Клієнти */

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.client-icon-list {
  display: flex;
  margin-top: 50px;
}
.client-icon-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client-icon-item:last-child {
  margin-right: auto;
}
.client-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--icon-grey-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: none;
}
.client-icon-link:focus,
.client-icon-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Подвал */

.footer-container {
  background-color: var(--dackground-dark-color);
  padding: 60px 0;
}
.footer-control-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-studio-white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-nav {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item {
  margin: 0 auto;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-icon-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-icon-container {
  margin-left: 70px;
}
.footer-icon-list {
  display: flex;
  gap: 10px;
}
.footer-icon-item:last-child {
  margin-right: auto;
}
.footer-icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: none;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}
.footer-nav-container {
  flex-grow: 1;
}
.footer-nav-icon-container {
  margin: 0;
  padding: 0;
}
.footer-form {
  margin-left: 93px;
}
.footer-email-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-email-input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dackground-dark-color);
}
.footer-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email-input:hover,
.footer-email-input:focus {
  border: 1px solid var(--accent-color);
  color: var(--white-color);
}
.footer-email-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.footer-email-button:hover,
.footer-email-button:focus {
  background-color: var(--background-button-active);
}
.icon-footer-btn {
  margin-left: 10px;
  fill: var(--white-color);
}

/* Начало портфолио */

.button-portfolio {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  text-transform: capitalize;
  background: var(--dackground-grey-color);
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-button-list {
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
}
/* Герой */

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  cursor: pointer;
}
.portfolio-card {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item > img {
  display: block;
}
.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  text-transform: capitalize;
  letter-spacing: 0.06em;
  color: var(--body-text-color);
}
.portfolio-title-list {
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio-img-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.small-symbols {
  text-transform: none;
}
.capital-symbols {
  text-transform: uppercase;
}

.portfolio-title-list::first-letter {
  text-transform: uppercase;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-thumb {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  overflow: hidden;
  margin-left: 16px;
  margin-right: 32px;
  color: var(--white-color);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
}
.portfolio-card:hover .portfolio-overlay-thumb {
  transform: translateY(0);
}
.portfolio-card:focus .portfolio-overlay-thumb {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  padding: 40px;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close-button:hover,
.modal-close-button:focus > svg {
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-form {
  margin-top: 12px;
}
.icon-close-button {
  position: fixed;
  top: 14px;
  right: 14px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-container-last {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-container {
  position: relative;
}
textarea {
  resize: none;
}
.form-input {
  width: 100%;
  padding: 12px 20px 12px 44px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form-input:hover + .icon-input,
.form-input:focus + .icon-input {
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  color: var(--body-text-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.textarea {
  height: 120px;
  padding: 12px 16px;
  padding-left: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}
.textarea:hover,
.textarea:focus {
  border-color: var(--accent-color);
  color: var(--body-text-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.checkbox-label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
.checkbox-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--body-text-color);
  border-radius: 2px;
  cursor: pointer;
}

.checkbox-input {
  appearance: none;
  left: 0;
  top: 0;
  position: absolute;
  width: 16px;
  height: 15px;
}
.icon-checkbox {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.checkbox-input:checked ~ .icon-checkbox {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contract-link {
  color: var(--accent-color);
}
.send-form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.send-form-button:hover,
.send-form-button:focus {
  background-color: var(--background-button-active);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
