@import './utils/variables';
@import './base/normalize';
@import './base/fonts';
@import './base/base-styles';
@import './components/button';
@import './components/container';
@import './components/section';
@import './utils/visually-hidden';
@import './components/logo';
@import './components/page-header';
@import './components/hero';
@import './components/benefits';
@import './components/work-area';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/menu-button';
@import './components/card';
