.benefits {
    // display: flex;
    margin: 0 auto;
}

.benefits__item {
    // width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
}}

.benefits__icon-container {
    // display: flex;
    align-items: center;
    justify-content: center;
    // width: 270px;
    // height: 120px;
    margin-bottom: 30px;
    background: $dackground-grey-color;
    border-radius: 4px;
}

.benefits__text {
    margin-top: 10px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}