.clients {
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  margin-top: 50px;
}

.clients__item {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:last-child {
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: $icon-grey-color;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-time;
  transition-delay: none;

  &:focus,
  &:hover {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
