.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 118px 0;
  background-image: $gradient, url('../../images/index/jpg/hero/hero-mobile-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dackground-dark-color;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: $gradient, url('../../images/index/jpg/hero/hero-mobile-img@2.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: $gradient, url('../../images/index/jpg/hero/hero-tablet-img.jpg');
  }
}

@media screen and (min-width: 768px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: $gradient, url('../../images/index/jpg/hero/hero-tablet-img@2.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: $gradient, url('../../images/index/jpg/hero/hero-desktop-img.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: $gradient, url('../../images/index/jpg/hero/hero-desktop-img@2.jpg');
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
