.hero {
  display: flex;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 118px 0;
  background-image: $gradient, url(../../images/hero-mobile-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dackground-dark-color;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: $gradient, url(../../images/hero-mobile-img@2.jpg);
    }
  }
}

.hero__title {
  display: none;
  width: 360px;
  height: 84px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}

.hero__button {
  display: none;
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 10px 24px;
  min-width: 216px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
