.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

@mixin logoColor ($color) {
    color: $color;
}

.logo__text--web {
    @include logoColor($accent-color);
}

.logo__text--studio {
    @include logoColor($logo-black-color);
}

.logo__text--studio-white {
    @include logoColor($white-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

