.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (max-width: 767px) {
    position: absolute;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

@mixin logoColor($color) {
  color: $color;
}

.logo__dark {
  @include logoColor($logo-black-color);
}

.logo__light {
  @include logoColor($white-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
