.modal {
  width: calc(100% - 15px);
  max-width: 450px;
  height: auto;
  padding: 40px;
  position: absolute;
  opacity: 1;
  top: 30px;
  left: 50%;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%) scale(1);
  transition-duration: 250ms;
  transition-property: transform, opacity;
  transition-timing-function: $cubic-time;

  @media screen and (min-width: 768px) {
    width: calc(100% - 303px);
    max-width: 450px;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.modal__close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus > svg {
    fill: $accent-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.modal__icon-close {
  position: fixed;
  top: 14px;
  right: 14px;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form {
  margin-top: 12px;
}

.modal__form--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;
}

.modal__last-form--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__input--container {
  position: relative;
}

.modal__input {
  width: 100%;
  padding: 12px 20px 12px 44px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $body-text-color;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.modal__icon--input {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  .modal__input:hover + &,
  .modal__input:focus + & {
    fill: $accent-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.modal__textarea {
  height: 120px;
  padding: 12px 16px;
  padding-left: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  resize: none;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $body-text-color;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.modal__checkbox-field {
  text-align: center;
  margin-bottom: 31px;
  letter-spacing: calc(14 / 12);
  color: $secondary-text-color;
}

.modal__checkbox--label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 16px;
    height: 15px;
    border: 2px solid $body-text-color;
    border-radius: 2px;
    cursor: pointer;
  }
}

.modal__checkbox--input {
  appearance: none;
  left: 0;
  top: 0;
  position: absolute;
  width: 16px;
  height: 15px;
}

.modal__contract-link {
  border-bottom: 1px solid;
  color: $accent-color;
  cursor: pointer;
}

.modal__icon--checkbox {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  border-radius: 2px;
  background-color: $accent-color;

  .modal__checkbox--input:checked ~ & {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.modal__send-button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  width: 200px;

  &:hover,
  &:focus {
    background-color: $background-button-active;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}
