.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  @media screen and (max-width: 767px) {
    width: auto;
    height: 60px;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 14px;
    line-height: calc(16 / 14);
    margin-left: auto;
  }
}

.header-contacts__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  @media screen and (min-width: 768px) {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }

  @media screen and (max-width: 1199px) {
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 93px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.header-contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
    max-height: 100%;
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
  }
}
