.page-header {
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.page-header__container {
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    position: absolute;
    display: block;
    bottom: 134px;
    left: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 15px;
    top: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }

  @media screen and (min-width: 1200px) {
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: flex;
    margin-left: auto;
    color: $secondary-text-color;
  }
}

.header-contacts__link {
  @media screen and (min-width: 768px) {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    display: flex;
    text-align: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;
  }
}

.header-contacts__link--mobile {
  @media screen and (max-width: 767px) {
    position: fixed;
    left: 40px;
    bottom: 194px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  @media screen and (mix-width: 768px) {
    padding-top: 10px;
  }

  .header-contacts__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      max-width: 100%;
      max-height: 100%;
      margin-right: 10px;
    }
  }

  .page-header__menu-container {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $white-color;
      transform: translateY(-100%);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: $cubic-time linear;

      &.is-open {
        transform: translateY(0);
      }
    }
    @media screen and (min-width: 768px) {
      height: 100%;
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }

  .header-social {
    @media screen and (max-width: 767px) {
      position: absolute;
      bottom: 48px;
      left: 40px;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .header-social__item {
    @media screen and (max-width: 767px) {
      display: inline;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(22 / 18);
      letter-spacing: 0.02em;
      color: $accent-color;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .header-social__item--line {
    @media screen and (max-width: 767px) {
      bottom: 48px;
      margin-left: 10px;
      margin-right: 10px;
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
