.team {
    text-align: center;
    background-color: $dackground-grey-color;
}

.team-card__container {
    padding-bottom: 30px;
    padding-top: 30px;
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
}

.team-card__list {
    display: flex;
    gap: 30px;
}

.team-card__name {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
}

.team-card__position {
    margin: 0 auto;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    color: $secondary-text-color;
}

.team-card__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
}

.team-social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.team-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    fill: $icon-grey-color;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-time;

    &:hover,
    &:focus {
            fill: $white-color;
            background-color: $accent-color;
            }
        }

