$body-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$dackground-dark-color: #2f303a;
$dackground-light-color: #f5f5f5;
$dackground-grey-color: #f5f4fa;
$logo-black-color: #000000;
$background-button-active: #188ce8;
$icon-grey-color: #afb1b8;
$cubic-time: cubic-bezier(0.4, 0, 0.2, 1);

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-time;

  &:hover,
    &:focus {
      color: $accent-color ;
    }
  }

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: $body-text-color ;
  background-color: $white-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: $white-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: $background-button-active;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}