$body-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$dackground-dark-color: #2f303a;
$dackground-light-color: #f5f5f5;
$dackground-grey-color: #f5f4fa;
$logo-black-color: #000000;
$background-button-active: #188ce8;
$icon-grey-color: #afb1b8;
$cubic-time: cubic-bezier(0.4, 0, 0.2, 1);